# Ignore Streamlit secrets
.streamlit/secrets.toml
node_modules/
/node_modules

/.streamlit
.secrets.toml


# Ignore virtual environments
venv/
.env

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Jupyter stuff
.ipynb_checkpoints/

# Ignore OS/filesystem junk
.DS_Store
Thumbs.db
