# Ignore Streamlit secrets
.streamlit/secrets.toml
node_modules/
/node_modules

/.streamlit
.secrets.toml

data/
# Ignore virtual environments
venv/
.env


/backend/app/python_generation_to_test_new_features/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Jupyter stuff
.ipynb_checkpoints/

# Ignore OS/filesystem junk
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes secrets
k8s/secrets.yaml
!k8s/secrets.yaml.example

# GCP service account keys
github-key.json
*-key.json
*.json
!package.json
!package-lock.json
!tsconfig.json
