apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: rq-worker-scaler
spec:
  scaleTargetRef:
    name: rq-worker
  pollingInterval: 5  # Check every 5 seconds (default is 30)
  cooldownPeriod: 60  # Wait 60 sec before scaling down
  minReplicaCount: 1  # Start with 1 instead of 2
  maxReplicaCount: 15
  triggers:
  - type: redis
    metadata:
      address: redis.personalizedline.svc.cluster.local:6379
      listName: default
      listLength: "1"
      activationListLength: "1"
