apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: rq-worker-scaler
spec:
  scaleTargetRef:
    name: rq-worker
  minReplicaCount: 2
  maxReplicaCount: 15
  triggers:
  - type: redis
    metadata:
      address: redis.personalizedline.svc.cluster.local:6379
      listName: default
      listLength: "1"
      activationListLength: "1"
